<div class="container">
  <h1>Editing User</h1>
  <div class="thumbnail">
    <div class="thumbnail-center">
    <%= render 'form', user: @user %>

    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
    </div>
  </div>
</div>
