@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: #f8f8f8;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h2 {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #542e91;
  border-color: #542e91;
}

.btn-primary:hover {
  background-color: #8d64ce;
  border-color: #8d64ce;
}

.thumbnail {
  box-shadow: 0 0 5px 1px rgba(161, 222, 192, 1);
}

.thumbnail-center {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
  background-color: #542e91;
}
.navbar {
  background-color: #542e91;
}
.navbar-inverse .navbar-right li a {
  color: #fddc06;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  padding-right: 10px;
}
