<footer class="footer navbar-fixed-bottom">
  <nav>
    <ul>
      <li><a href="https://github.com/lgrgic/API_task" target="_blank">GitHub</a></li>
      <li>Luka Grgic 2019</li>
    </ul>
  </nav>
</footer>
