<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag('logo.png'), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "List of Users", users_path %></li>
        <li><%= link_to 'Create New User', new_user_path %></li>
      </ul>
    </nav>
  </div>
</header>
